* {
    margin: 0;
    padding: 0;
}

.mural {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
  }
  

.azul {
    width:3%;
    height:10%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.amarelo {
    width: 3%;
    height: 10%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

.vermelho {
    width: 3%;
    height: 10%;
    background-color: red;
    display: flex;
    flex-direction: row;
}