* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}


.mural {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.azul {
    width: 3.3%;
    height: 20%;
    background-color: blue;
}

.amarelo {
    width: 3.3%;
    height: 10%;
    background-color: yellow;
}

.vermelho {
    width: 3.3%;
    height: 10%;
    background-color: red;
}